.corner {

  -webkit-border-radius: 10px 10px;  /* Safari  */
  -moz-border-radius: 10px 10px;     /* Firefox */

}

#texto{

	border: 1px solid;
	width: 800px;
	margin-left:29%;
	background-color:#BDBDBD;	

}

a:link   
{   
	text-decoration:none;   
}   

a.nounderline:link   
{   
	text-decoration:none;   
} 

body{

	background-image:url("bckgrnd.jpg");	

}


table#footer, th, td{

	border:1px solid;

}

table#menu, th, td{

	border:3px solid;

}

#menu tr th:hover{
	
	background-color:#D8D8D8;
	cursor: pointer;

}

#banner{

	background-color:white;
	border:3px solid;

}

#content{

	border:2px solid;
	width:500px;
	height: 100%;
	display:inline-table;
	position:relative;
	top:0;
	right:0;

}

#sponsor{

	border:2px solid;
	width: 20%;
	height: 100%;
	margin-left:50px;
	position:relative;
	display:inline-table;
	top:0;
	right:0;
	

}

#footer, #menu, #content, #sponsor{

	background-color:white;	
	
}	
